
*{
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
}

/* ===== Custom Scrollbar ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fb923c #fff7ed; /* thumb | track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff7ed; /* light warm background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #f67e28,
    #fb923c
  );
  border-radius: 999px;
  border: 2px solid #fff7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #ea580c,
    #f97316
  );
}


@import 'tailwindcss';

@theme {
  /* Brand */
  --color-primary: #ff9e44  ;
  --color-secondary: #ff5e00  ;
  --color-primary-hover: #ff7023;
  --color-primary-soft: #fff4ec;

  /* Text */
  --color-text-dark: #1f2937;
  --color-text-muted: #6b7280;

  /* Status */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
}

